@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light;
		--theme-bg: 0deg 0% 98%;
		--theme-link: 172deg 18% 41%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 351deg 66% 48%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 351deg 66% 48%;
		font-display: swap;
		font-size: 17px
	}
	.cactus-link {
		color: #5d8497;
		text-decoration: none;
	  }
	.cactus-link:hover {
		color: #000;
		background: #b7d5ff;
		text-decoration: none;
	  }
	.px-4 {
		color: #5d8497;
	}
	.mt-16 {
		margin-top: 3rem;
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-link: 330deg 49% 67%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 159deg 64% 45%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 102deg 100% 86%;
	}

	html {
		@apply scroll-smooth;
	}

	html body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;

	}

	.glowing {
		position: relative;
		min-width: 700px;
		height: 550px;
		margin: -150px;
		transform-origin: right;
		animation: colorChange 5s linear infinite;
	}

	.glowing:nth-child(even) {
		transform-origin: left;
	}

	@keyframes colorChange {
		0% {
			filter: hue-rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			filter: hue-rotate(360deg);
			transform: rotate(360deg);
		}
	}

	.glowing span {
		position: absolute;
		top: calc(80px * var(--i));
		left: calc(80px * var(--i));
		bottom: calc(80px * var(--i));
		right: calc(80px * var(--i));
	}

	.glowing span::before {
		content: "";
		position: absolute;
		top: 50%;
		left: -8px;
		width: 15px;
		height: 15px;
		background: #f00;
		border-radius: 50%;
	}

	.glowing span:nth-child(3n + 1)::before {
		background: rgba(134, 255, 0, 1);
		box-shadow: 0 0 20px rgba(134, 255, 0, 1),
			0 0 40px rgba(134, 255, 0, 1),
			0 0 60px rgba(134, 255, 0, 1),
			0 0 80px rgba(134, 255, 0, 1),
			0 0 0 8px rgba(134, 255, 0, .1);
	}

	.glowing span:nth-child(3n + 2)::before {
		background: rgba(255, 214, 0, 1);
		box-shadow: 0 0 20px rgba(255, 214, 0, 1),
			0 0 40px rgba(255, 214, 0, 1),
			0 0 60px rgba(255, 214, 0, 1),
			0 0 80px rgba(255, 214, 0, 1),
			0 0 0 8px rgba(255, 214, 0, .1);
	}

	.glowing span:nth-child(3n + 3)::before {
		background: rgba(0, 226, 255, 1);
		box-shadow: 0 0 20px rgba(0, 226, 255, 1),
			0 0 40px rgba(0, 226, 255, 1),
			0 0 60px rgba(0, 226, 255, 1),
			0 0 80px rgba(0, 226, 255, 1),
			0 0 0 8px rgba(0, 226, 255, .1);
	}

	.glowing span:nth-child(3n + 1) {
		animation: animate 20s alternate infinite;
	}

	.glowing span:nth-child(3n + 2) {
		animation: animate-reverse 30s alternate infinite;
	}

	.glowing span:nth-child(3n + 3) {
		animation: animate 50s alternate infinite;
	}

	@keyframes animate {
		0% {
			transform: rotate(180deg);
		}
		50% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes animate-reverse {
		0% {
			transform: rotate(360deg);
		}
		50% {
			transform: rotate(180deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}

	.starr {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		overflow: hidden;
	}

}
